
* {
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
}

#square-holder {
  width: 100%;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#mainMenu {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

div {
  width: 10%;
  height: 10vh;
  outline: 3px solid white;
  background-color: black;
  transform:translate(-500%,-500%);
  /* visibility: */
}

p {
  font-size: 30px;
  color: white;
  position: static;
}

input {
  position: static;
}

#yes {
  position: static;
  
}

p1 {
  font-size: 20px;
  color: white;
  padding-top: 30px;
}

#color-options {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

#colorText {
  font-size: 20px;
  padding-top: 70px;
}

#submit-buttons {
  display: flex;
  justify-content: space-between;
  
}

.color-two-item {
  /* background-color: rgb(29, 29, 29); */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: 10px;
}

.small-text {
  font-size: 15px;
}